<div class="bookshelf-header">
  <div class="bookshelf-header-title">
    <h1 class="bookshelf-header-name">b o o k s h e l f</h1>
  </div>
  <div class="bookshelf-header-form">
    <div class="form-input">
      <input class="form-message" placeholder= "キーワード入力(タイトル・著者・メモ...)">
      <input class="form-submit" type="submit" value="検索">
    </div>
  </div>
</div>

<div class="main-bookshelf">
</div>
