<div class="header">
  <div class="header-title">
    <a class="header-title" href="#">M y  -  L i b r a r y</a>
  </div>
  <div class="el_humburger"><!--ハンバーガーボタン-->
    <div class="el_humburger_wrapper">
      <span class="el_humburger_bar top"></span>
      <span class="el_humburger_bar middle"></span>
      <span class="el_humburger_bar bottom"></span>
    </div>
  </div>  
</div>

  <header class="navi"><!--ナビゲーション-->
    <div class="navi_inner">
      <div class="navi_item"><a href="">ABOUT</a></div>
      <div class="navi_item"><a href="">WORKS</a></div>
      <div class="navi_item"><a href="">GALLERY</a></div>
      <div class="navi_item"><a href="">FLOW</a></div>
      <div class="navi_item"><a href="">FAQ</a></div>
      <div class="navi_item"><a href="">CONTACT</a></div>
    </div>
  </header>