<div class="side-bar-header">
  <div class="side-bar-header-box1">
    <h1 class="side-bar-header-name">user : rui</h1>
  </div>
  <div class="side-bar-header-box2">
    <h1 class="side-bar-header-genres">g e n r e s</h1>
  </div>
</div>

<div class="genres">
    <a href="#" class="btn-flat-border">本棚</a>
    <a href="#" class="btn-flat-border">読みたい本</a>
    <a href="#" class="btn-flat-border">お気に入り</a>
</div>
