<div class="side-bar-header">
  <div class="side-bar-header-box1">
    <h1 class="side-bar-header-name">user : rui</h1>
  </div>
  <div class="side-bar-header-box2">
    <h1 class="side-bar-header-genres">g e n r e s</h1>
  </div>
</div>

<div class="genres">
    <div class="container">
      <a href="#" class="btn-animation-02"><span>本棚<span></a>
    </div>
    <div class="container">
      <a href="#" class="btn-animation-02"><span>読みたい本<span></a>
    </div>
    <div class="container">
      <a href="#" class="btn-animation-02"><span>お気に入り<span></a>
    </div>
</div>
