/* headerのCSS */
.header {
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow : 0 1px 3px rgba(23, 25, 28, 0.3);
}

.header-title {
  font-size: 25px;
  margin-left: 10px;
  font-family: "cursive" ,cursive;
  text-shadow: 5px 5px 3px #928d8d;
  color: black;
  text-decoration: none;
}

a{
  color: #040404;
  text-decoration: none;
}

/*ハンバーガーボタン*/
.el_humburger {
  margin-top: 5px;
  margin-right: 10px;
  width: 46px;
  height: 25px;
  padding-top: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0px;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
  color: #000;
  text-align: center;}
 
@media screen and (max-width: 840px) {
  .el_humburger {
    display: block;
    right: 0;
    top: 0;
    padding-top: 20px;
    width: 70px;
    height: 70px;}
    #factory .el_humburger {
      display: none; } }
 
.el_humburger_wrapper {
  margin-bottom: 5px;
  width: 42px;
  display: inline-block; }
 
@media screen and (max-width: 840px) {
  .el_humburger_wrapper {
    margin-bottom: 5px;
    width: 30px; } }
 
.el_humburger_text {
  font-size: 12px;
  letter-spacing: 0.1em;
}
 
.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none; }
 
.el_humburger_text.el_humburger_text__close {
  display: none; }
 
.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block; }
 
@media screen and (max-width: 840px) {
  .el_humburger_text {
    font-size: 10px;
    padding-top: 2px; } }
 
@media screen and (max-width: 840px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #000; } }
 
@media screen and (max-width: 840px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #000; } }
 
.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 1px;
  background: #000;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
 
.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0; }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #000; }
 
@media screen and (max-width: 840px) {
  .el_humburger span.el_humburger_bar {
    left: 0;
    top: 0;
    background: #000; } }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(9px) rotate(-45deg);
  -ms-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg); }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0; }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg); }
 
.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%; }
 
.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #000; }
 
.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg); }
 
.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg); }
 
.navi {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 0;
  z-index: 3;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden; }
  .js_humburgerOpen .navi {
    width: 450px; }
    @media screen and (max-width: 840px) {
      .js_humburgerOpen .navi {
        width: 30%;
        padding: 100px 5% 0; } }
 
.navi_item {
  margin-bottom: 28px;
  font-size: 20px;
  font-family: "Marcellus", serif !important;
  white-space: nowrap;
  margin-left: 90px; }
  .navi_item.op_innerLink {
    cursor: pointer; }
  @media screen and (max-width: 840px) {
    .navi_item {
      margin-left: 0;
      font-size: 18px; } }

/* mainのCSS */
.wrapper {
  display: flex;
}

/* mainのside-barのCSS */
.side-bar {
  background-color: #253141;
  width: 220px;
  height: 100vh;
}

.side-bar-header {
  margin-left: 5px;
  margin-right: 5px;
  height: 150px;
}

.side-bar-header-box1 {
  height: 70px;
  width: 190px;
  margin-top: 10px;
  border: 2px groove white;
  font-family: "cursive" ,cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-header-box2 {
  height: 40px;
  width: 190px;
  margin-top: 20px;
  border-bottom: 2px solid white;
  font-family: "cursive" ,cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius : 5%;
}

.side-bar-header-name {
  color:white;
  font-size: 20px;
  padding-bottom: 1px;
}

.side-bar-header-genres {
  color:white;
  font-size: 20px;
  padding-bottom: 1px;
}

.genres {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
}

.btn-flat-border {
/* ここはコピーしなくてOK　*/
.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}

/* ここから下がボタンのCSS　*/
.btn-animation-02 {
  display: inline-block;
  padding-left: 55px;
  padding-top: 10px;
  width: 190px;
  height: 50px;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

/* mainのbookshelfのCSS */
.bookshelf {
  background-color: #2f3E51;
  width: calc(100% - 190px);
}

.bookshelf-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookshelf-header-title {
  height: 40px;
  width: 190px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
  font-family: "cursive" ,cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius : 5%;
}

.bookshelf-header-name {
  color:white;
  font-size: 20px;
  padding-bottom: 1px;
}

.bookshelf-header-form {
  margin-left: 20px;
  width: 100%;
  margin-right: 20px;
}

.form-input {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.form-message {
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 10px;
  color: #253141;
  background-color: white;
  box-shadow    : 3px 3px 3px #666666;
  /*border-radius : 5%;*/
}

.form-submit {
  background-color: white;
  border: none;
  color: #253141;
  font-size: 16px;
  height: 30px;
  margin-left: 15px;
  padding: 0 20px;
  border-radius : 5%;
  box-shadow    : 3px 3px 3px #666666;
}
