
.books-registration-contents {
  background-color: #222222;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}

.books-registration-main {
  background-color:#222222;
  width: 100%;
  padding: 5vh 15vw;
}

.books-registration-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius : 5%;
  border-bottom: 2px solid white;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px 6px;
  border-radius: 2px;
  color:white;
  font-size: 12px;
  font-weight: bold;
}

.indispensable2 {
  background: blueviolet;
  margin-left: 8px;
  padding: 3px 6px;
  border-radius: 2px;
  color:white;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

/* /共通 */

/* 出品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
  color:white
}

.click-upload {
  min-width: 250px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /出品画像 */

/* 商品名と商品説明 */
.new-books {
  padding: 2vh 0;
}

.books-text {
  width: 100%;
  padding: 10px 10px 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  font-weight: bold;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

.books-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.books-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.books-detail>.form {
  width: 200px;
  padding: 2vh 0;
}

.select-box {
  margin: 1vh 0 0 0;
}

/* 下部ボタン */
.registration-btn-contents1 {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.registration-btn-contents2 {
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

.registration-btn {
  background: red;
  border: 1px solid red;
  color: #fff;
  width: 50%;
  height: 50px;
  font-size: 16px;
  margin-bottom: 4vh;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 20%;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
  font-size: 16px;
  font-weight: bold;
}

textarea {
  resize: vertical;
  max-height: 500px;
  min-height: 30px;
}